<!--<h2 class="text-center">Your Print Orders</h2>
<div class="order-container">
  <div class="file-list">
    <div *ngFor="let order of orders; let i = index" class="file-item order-row">
      <div *ngFor="let item of order.orderItems; let j = index" class="order-item">
        <div class="order-item-details">
          <div class="col-2 d-flex justify-content-center align-items-center">
            <img *ngIf="isImage(item.userFile.extension)" [src]="baseUrl + '/' + item.userFile.filePath" alt="{{ item.userFile.fileName }}" class="file-preview" />
            <i *ngIf="item.userFile.extension === '.pdf'" class="bi bi-filetype-pdf file-icon pdf"></i>
            <i *ngIf="item.userFile.extension === '.doc' || item.userFile.extension === '.docx'" class="bi bi-file-earmark-word file-icon word"></i>
            <i *ngIf="item.userFile.extension === '.xls' || item.userFile.extension === '.xlsx'" class="bi bi-filetype-xlsx file-icon excel"></i>
          </div>

          <div class="col-3 d-flex align-items-center">
            <h4 class="file-name mb-0">{{ item.userFile.fileName }}</h4>
          </div>

          <div class="col-2">
            <label for="item-description-{{i}}-{{j}}">Item Description</label>
            <textarea id="item-description-{{i}}-{{j}}" [(ngModel)]="item.description" placeholder="Add description..." rows="2"></textarea>
          </div>

          <div class="col-1">
            <label for="item-count-{{i}}-{{j}}">Count</label>
            <input type="number" id="item-count-{{i}}-{{j}}" [(ngModel)]="item.count" (input)="calculateTotalPrice()" min="1" class="form-control" />
          </div>

          <div class="col-1">
            <label for="item-price-{{i}}-{{j}}">Price</label>
            <input type="number" id="item-price-{{i}}-{{j}}" [(ngModel)]="item.price" (input)="calculateTotalPrice()" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="order-summary text-end mt-4">
    <h3>Total Price: ${{ totalPrice | number: '1.2-2' }}</h3>
    <button class="btn btn-primary" (click)="submitOrder()">Confirm and Submit Order</button>
  </div>
</div>-->

