#inner {
  width: 60%;
  height: 50%;
  border: 0.05em solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
}

.custom-btn-outline-gray {
  border: 2px solid #6c757d;
  color: #6c757d;
  background-color: transparent;
  border-radius: 0;
  padding: 10px 20px;
  min-width: 180px;
  max-width: 300px;
  margin-top: auto;
  margin-bottom: auto;
}

  .custom-btn-outline-gray:hover {
    background-color: #6c757d;
    color: #fff;
  }

.form-control {
  width: 90%;
}

@media (max-width: 899px) {
  .btn-row {
    flex-direction: row;
  }

  #inner {
    width: 50%;
    height: 20%;
    margin-top: 60px;
    min-width: 400px;
  }

  .custom-btn-outline-gray {
    font-size: 18px;
    padding: 12px;
  }
}

@media (max-width: 576px) {
  .custom-btn-outline-gray {
    font-size: 16px;
    padding: 15px;
  }

  #inner {
    width: 200px;
    height: 20%;
    margin-top: 60px;
    min-width: 200px;
  }
}
