:host {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.stamp-container {
  width: 400px;
  height: 200px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.text-box {
  position: absolute;
  cursor: move;
  background: transparent;
  padding: 5px;
  min-width: 50px;
  min-height: 20px;
  outline: none;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  resize: none;
}

.text-box:focus {
  border: 1px dashed gray;
  background: rgba(255, 255, 255, 0.8);
  .resize-handle {
    width: 10px;
    height: 10px;
    background: gray;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
  }
}

.text-box.selected {
  border: 1px solid blue;
}




.add-text-btn {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.add-text-btn:hover {
  background-color: #0056b3;
}
