<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Registration</title>
  </head>
<body>
  <div class="container-fluid h-100">
    <div id="inner" class="text-center">
      <form [formGroup]="resetForm" (ngSubmit)="onPasswordChange()">
        <h2 class="text-primary mb-4" style="font-size: 36px; font-weight: bold;">Change Your Password</h2>

        <div class="input-group mb-3">
          <input formControlName="newPassword" [type]="isPasswordVisible ? 'text' : 'password'" class="form-control"
                 [ngClass]="{'is-invalid': resetForm.controls['newPassword'].dirty && resetForm.controls['newPassword'].hasError('required')}"
                 placeholder="Enter your password">
          <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
            <i class="bi" [class.bi-eye]="!isPasswordVisible" [class.bi-eye-slash]="isPasswordVisible"></i>
          </button>
        </div>
        <small *ngIf="resetForm.controls['newPassword'].dirty && resetForm.controls['newPassword'].hasError('required')" class="text-danger">*Password is required*</small>

        <div class="input-group mb-3">
          <input formControlName="confirmPassword" [type]="isPasswordVisible ? 'text' : 'password'" class="form-control"
                 [ngClass]="{'is-invalid': resetForm.controls['confirmPassword'].dirty && (resetForm.controls['confirmPassword'].hasError('required') || resetForm.hasError('mismatch'))}"
                 placeholder="Repeat your password">
          <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
            <i class="bi" [class.bi-eye]="!isPasswordVisible" [class.bi-eye-slash]="isPasswordVisible"></i>
          </button>
        </div>
        <small *ngIf="resetForm.controls['confirmPassword'].dirty && resetForm.controls['confirmPassword'].value !== resetForm.controls['newPassword'].value" class="text-danger">*Passwords must match*</small>

        <div class="row mb-3">
          <div class="col">
            <button class="btn custom-btn-outline-gray btn-lg" type="submit">Change Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
