<header></header>
<body (click)="deselectTextBox($event)" (keydown)="handleKeyDown($event)">
  <h1>Diploma Creator</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="row controls-container">
        <div class="col-md-8 d-flex flex-column">
          <label>Stamp Name:</label>
          <input type="text" [(ngModel)]="diplomaName" class="form-control" placeholder="Enter stamp name" />
        </div>
        <div class="col-md-4">
          <label>Board Color</label>
          <select [(ngModel)]="boardColor" class="form-select">
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="black">Black</option>
            <option value="red">Red</option>
          </select>
        </div>
        <div class="col-md-4">
          <label>Board Color</label>
          <select [(ngModel)]="textColor" class="form-select">
            <option value="silver">Silver</option>
            <option value="gold">Gold</option>
          </select>
        </div>
      </div>

      <div class="controls-container" (click)="$event.stopPropagation()">
        <button class="font-size-btn bi bi-arrow-left" (click)="undo()" [disabled]="history.length <= 1"></button>
        <button class="add-text-btn" (click)="addTextBox()">Add Text</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="stamp-container" #stampContainer>
        <div *ngFor="let box of textBoxes; let i = index"
             class="text-box"
             [style.left.px]="box.x"
             [style.top.px]="box.y"
             [style.width.px]="box.width"
             [style.height.px]="box.height"
             (mousedown)="startDrag($event, i)"
             (mousemove)="updateCursor($event, i)"
             (click)="selectTextBox($event, i)"
             contenteditable="true">
          <div contenteditable="true">{{ box.text }}</div>
          <span class="resize-handle" (mousedown)="startResize($event, i)"></span>
        </div>
      </div>
    </div>

    <!--<div class="controls-container" (click)="$event.stopPropagation()">
    <button class="font-size-btn bi bi-download" (click)="downloadStamp()">Download Stamp</button>
    <button class="font-size-btn bi bi-download" (click)="saveStamp()">Save Stamp</button>

    <label for="formFile" class="upload-button">Upload Stamp</label>
    <input id="formFile" class="upload-input" type="file" (change)="loadStamp($event)" accept=".json" />

    <label for="imageLoad" class="upload-button">Upload Image</label>
    <input id="imageLoad" class="upload-input" type="file" (change)="addImage($event)" accept="image/*" />
  </div>-->

  </div>
    
</body>
