.file-actions-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

  .file-actions-row .btn {
    margin-right: 10px;
  }

.custom-color {
  background-color: #28a745;
  border-color: #28a745;
}

  .custom-color:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

.sorting-options {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  position: absolute;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .sorting-options {
    position: initial;
    justify-content: center;
  }
    .sorting-options select {
      min-width: 150px; /* Increase width */
      font-size: 1.2rem; /* Increase font size */
      padding: 8px; /* Increase padding for better touch */
    }
}


