<div class="file-grid">
  <div class="file-card" *ngFor="let file of files">
    <div class="file-image-wrapper">
      <img *ngIf="isImage(file.extension)" [src]="baseUrl + file.filePath" alt="{{ file.fileName }}" class="file-image" />
      <!--<img *ngIf="isImage(file.extension)" [src]="this.test" alt="{{ file.fileName }}" class="file-image" />-->
      <p>{{ file.filePath }}</p>
      <div *ngIf="!isImage(file.extension)" class="file-placeholder">
        <i class="fas fa-file-alt"></i>
      </div>
    </div>
    <div class="file-details">
      <h4 class="file-title">{{ file.fileName }}</h4>
      <p class="file-date">Uploaded: {{ file.uploadDate | date }}</p>
    </div>
    <div class="file-actions">
      <button class="btn btn-primary" (click)="markForPrint(file.id, !file.shouldPrint)">
        {{ file.shouldPrint ? 'Unmark' : 'Mark for Print' }}
      </button>
      <button *ngIf="isImage(file.extension)" class="btn btn-secondary" (click)="editFile(file.id)">Edit</button>
      <button class="btn btn-danger" (click)="deleteFile(file.id)">Remove</button>
    </div>
  </div>
</div>
